.icons {
  width: 100%;
  height: calc(100% - 40px);
  top: 0;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.icon {
  width: 77px;
  height: 65px;
  margin-bottom: 20px;
  margin-top: 5px;
  background-color: aqua;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  position: relative;
  transition: 0.1s;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
  }
  &:hover::after {
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.3);
  }
  &.active::after {
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.3);
  }
  &.pc {
    background: url('../../img/thispc.png') top;
    background-size: 46px;
    background-repeat: no-repeat;
  }
  & p {
    font-size: 12px;
    user-select: none;
    color: #ffffde;
    text-align: center;
  }
  &.trash {
    background: url('../../img/trash.png') top;
    background-size: 46px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-top: auto;
    margin-right: 20px;
  }
  &.folder {
    background: url('../../img/folder.png') top;
    background-size: 46px;
    background-repeat: no-repeat;
  }
  &.docx {
    background: url('../../img/docx.png') top;
    background-size: 46px;
    background-repeat: no-repeat;
  }
  &.txt {
    background: url('../../img/txt.png') top;
    background-size: 46px;
    background-repeat: no-repeat;
  }
  &.chrome {
    background: url('../../img/chrome.png') top;
    background-size: 46px;
    background-repeat: no-repeat;
    height: 75px;
  }
}
